.rdfi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.rdfi .selector{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
