.years{
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.years button{
    border: 0;
    background-color: burlywood;
    font-size: 1.5em;
    padding: 0.8em;
    margin: 0;
}