
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}


.budget-nav{
    
}

.budget-nav rect{
    fill: white;
}

.budget-nav > rect,
.budget-nav .stack-bar .portion rect
{
    stroke-width: 2px;
    stroke: burlywood; 
}

.stack-bar .zooming-trapezoid{
    fill: burlywood;
}
